// color , sizes , width  file 
$color-primary: #55c57a;
$color-primary-light: #62ab55;
$color-primary-dark: #296450;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
  
$color-grey-light-1: #f7f7f7;
$color-grey_light-2: #eee;

$color-grey_dark: #777;
$color-grey_dark-2: #999;
$color-grey-dark-3: #333;

$color-prime-black: #141414;
$color-black: #706e6e;
$color-white: #ffffff;

// font size
$default-font-size: 1.6rem;

// GRID   
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
